/* =======================================*/
/*
/* CORE CONFIG
/*
/* =======================================*/
@import url(https://fonts.googleapis.com/css?family=Raleway:500,600,400);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300);
/* =======================================*/
/*
/* CORE BASE - RESET
/*
/* =======================================*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.box {
  padding: 20px;
  background: #eee;
}
